QWidget {
    background-color: #1F2326;
}

QCommandLinkButton#commandLinkButton {
    color: #ffffff;
    background-color: #333A40;
    border-style: outset;
    border-width: 2px;
    border-radius: 15px;
    border-color: black;
    font: bold 14px;
    min-width: 4em;
    padding: 6px;
}

QCommandLinkButton#commandLinkButton:hover {
    background-color: #5C6166;
    border-style: inset;
    color: #ffffff;
}

QCommandLinkButton#commandLinkButton:pressed {
    background-color: #474E53;
    border-style: inset;
}

QLabel#label {
    qproperty-alignment: AlignCenter;
    font-size: 20px;
    color: white;
}
